<ion-view view-title="{{ t('new-event') }}">
  <ion-content class="padding">
    <h1>{{ t('create-new-event') }}</h1>

    <div>
    	<img src="" id="myImage" width="100%" height="auto">
    </div>

    <div class="list">
      <label class="item item-input">
      	<span>Photo</span><button class="button icon ion-camera" ng-click="cam()"></button>
      </label>
	  <label class="item item-input">
	    <input type="text" placeholder="{{ t('name') }}" id="name" ng-model="test">
	  </label>
	  <label class="item item-input">
	    <select name="category" id="category" placeholder="Catégorie">
		  <option value="Apéro">{{ t('drink') }}</option> 
		  <option value="Sport">Sport</option>
		  <option value="Culture">Culture</option>
		</select>
	  </label>
	  <label class="item item-input">
	    <span>Date </span><input type="date" placeholder="Date" id="date" ng-model="create.dateStart">
	  </label>
	  <label class="item item-input">
	    <span>{{ t('start') }} </span><input type="time" placeholder="{{ t('start') }}" id="debut" ng-model="create.hoursStart">
	  </label>
	  <label class="item item-input">
	    <span>{{ t('end') }} </span><input type="time" placeholder="{{ t('end') }}" id="fin">
	  </label>
	  <label class="item item-input">
	  	<span>Geolocalisation </span><button class="button icon ion-flag" ng-click="here()"></button>
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="{{ t('adress') }}" id="adress" ng-model="create.street">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="{{ t('cp') }}" id="cp" ng-model="create.cp">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="{{ t('city') }}" id="city" ng-model="create.city">
	  </label>
	  <label class="item item-input">
	    <textarea placeholder="Description" id="description"></textarea>
	  </label>
	</div>
	<div class="padding">
    	<button class="button button-block button-positive activated">{{ t('create') }}</button>
  	</div>

  </ion-content>
</ion-view>
