<ion-view view-title="Profil">
  <ion-content class="padding">
    <h1>Profil</h1>
    <div class="noticeInfo" ng-show="updated.status">{{ t('infos-uodated') }}</div>
    <form ng-submit="updateInfos()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">{{ t('lastname') }}</span>
          <input type="text" ng-model="infos.nom">
        </label>
        <label class="item item-input">
          <span class="input-label">{{ t('firstname') }}</span>
          <input type="text" ng-model="infos.prenom">
        </label>
        <label class="item item-input">
          <span class="input-label">Promotion</span>
          <input type="text" ng-model="infos.promo">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">{{ t('update') }}</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
