/* Empty. Add your own CSS if you like */
.noticeInfo {
	background: #F39200;
	color: white;
	font-weight: bold;
	font-size: 1.1rem;
	text-align: center;
	padding: 5px;
	margin-bottom: 10px;
}

.offline {
	background: #F39200;
	color: white;
	font-weight: bold;
	font-size: 1.1rem;
	text-align: center;
	padding: 5px;
	margin-bottom: 10px;
}